/* Estilo para la página About */
ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1rem;
    line-height: 1.6;
}

ul li {
    margin-bottom: 15px;
    font-weight: 500;
}

ul li::before {
    content: "•";
    color: #3498db;
    margin-right: 10px;
}
